---
layout: default
title: News
group: topNav
order: 1
---

<div id="news">
    <div v-if="!articles.length">
        <p>Loading...</p>
        <p>
            No javascript or loading taking to long?
            Check the news on <a href="https://github.com/KillahPotatoes/KP-Liberation/issues?utf8=%E2%9C%93&q=label:dev-blog+">GitHub</a>.
        </p>
    </div>
    <div v-else v-cloak>

        <div v-if="currentArticle" >
            <kp-article :article="currentArticle" @back="currentArticle=null" />
        </div>

        <div v-else>
            <div v-for="article in articles" class="col-md-8 offset-md-2 pb-4">
                <kp-card :title="article.title" @selected="currentArticle=article">
                    ${ article.description }
                </kp-card>
            </div>
        </div>
    </div>

</div>

<script src="/assets/js/lib/vue-markdown.js"></script>
<script src="/assets/js/news.js"></script>
