
<!-- Footer -->
<footer class="container-fluid text-white bg-dark py-3">
    <div class="row">
        <div class="col-sm-12 col-md-8">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- Social -->
        <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-0 d-flex">
            <ul class="list-inline text-white mx-auto my-auto">
                <li class="list-inline-item">
                    <a class="text-white" href="https://discord.gg/bpPUU48">
                        <i class="fab fa-3x fa-discord"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a  class="text-white"
                        href="https://steamcommunity.com/id/Wyqer/myworkshopfiles/?appid=107410"
                        title="Check us out on Steam Workshop"
                    >
                        <i class="fab fa-3x fa-steam"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a  class="text-white"
                        href="https://github.com/KillahPotatoes/KP-Liberation"
                        title="Check us out on GitHub"
                    >
                        <i class="fab fa-3x fa-github"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a  class="text-white"
                        href="https://www.paypal.me/wyqer"
                        title="Donate to our team"
                    >
                        <i class="fab fa-3x fa-paypal"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
