
<footer>
    <ul>
        <li><a href="https://forums.bistudio.com/topic/202711-mpcti-coop-liberation-continued/">BI Forum Thread</a></li>
        <li><a href="http://steamcommunity.com/id/wyqer/myworkshopfiles/?appid=107410">Steam Workshop</a></li>
        <li><a href="https://discord.gg/bpPUU48">Discord</a></li>
        <li>This mission is a full rewrite of the original mission from <a href="https://github.com/GreuhZbug">GreuhZbug</a></li>
        <li><a href="https://github.com/GreuhZbug/greuh_liberation.Altis">Original Liberation mission v0.924</a></li>
        <li>If you like the work and think it's worth a small donation, feel free to use the following link:</li>
        <li><a href="https://www.paypal.me/wyqer">Donate via paypal.me</a></li>
    </li>
</footer>
