
<ul class="navbar-nav">
{%- assign ordered_pages = site.pages | sort: "order" -%}

{%- for node in ordered_pages %}
    {%- if node.group == 'topNav' %}
        {%- if page.url == node.url or (page.parent != null and node.short == page.parent) %}
        <li class="nav-item active">
            <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
        </li>
        {%- elsif (layout.parent != null and node.short == layout.parent) -%}
        <li class="nav-item active">
            <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
        </li>
        {%- else %}
        <li class="nav-item">
            <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
        </li>
        {%- endif %}
    {%- endif %}
{%- endfor %}

{%- assign ordered_pages = nil %}
</ul>
{{layout}}
