
html {
    height: 100%;
}

nav.navbar {
    height: 56px;
}

main {
    min-height: calc(100vh - 56px);
}

// Imgs should be responsive by default
img {
    max-width: 100%;
    height: auto;
}

[v-cloak] {
    display: none;
}

$theme-colors: (
  "primary": #7A2F2A
);
@import "bootstrap/bootstrap";

$fa-font-path: "../fonts";
@import "font-awesome/fontawesome";
@import "font-awesome/brands";
